<h4 class="m-b">
  Posts
  <small class="text-muted"> <%= @posts.count %></small>
</h4>
<hr>
<%= form_for Post.new, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, rows: 5, placeholder: 'Write Post', class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.submit 'Save', class: 'btn btn-success btn-block' %>
      </div>
    </div>
  </div>
<% end %>

<%- if @posts.empty? %>
  <div class="center text-muted">
    <p>No posts yet</p>
  </div>
<% else %>
  <% @posts.each do |post| %>
    <div class="card m-b">
      <div class="card-block">
        <%= post.content %>
      </div>
      <div class="card-footer text-muted">
        votes
      </div>
    </div>
  <%- end %>
<% end %>
